@model GeoCab.WEB.ViewModels.CreateUserViewModel

@{
    Layout = "_Layout";
}

<div class="container">
    <h1>Регистрация</h1>
    <form action="/user/create" method="post" class="w-50">
        <div class="mb-3">
            <label for="Email" class="form-label">E-mail</label>
            <input type="email" asp-for="Email" class="form-control" id="Email" aria-describedby="emailHelp">
            <div id="emailHelp" class="form-text">Мы не делимся вашими данными E-mail</div>
        </div>
        <div class="mb-3">
            <label for="Username" class="form-label">Ник пользователя</label>
            <input type="text" asp-for="Username" class="form-control" id="Username" aria-describedby="emailHelp">
        </div>
        <div class="mb-3">
            <label for="Password" class="form-label">Пароль</label>
            <input type="password" asp-for="Password" class="form-control" id="Password" aria-describedby="emailHelp">
            <div id="passwordHelpBlock" class="form-text">
                Пароль должен иметь длину минимум 8 символов, содержать хотя бы одну заглавную букву, специальный символ и цифру
            </div>
        </div>
        <div>
            <input class="btn btn-primary" type="submit" value="Регистрация"/>
        </div>
    </form>
</div>